<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookStore">
  <select id="order" resultType="bookStoreVo">
    select bookname, publisher, price,saleprice - price profit, orderdate, address, phone from customer c, book b, orders o where c.custid = o.custid and b.bookid = o.bookid 
	<if test="name != null and name != ''">	and name = #{name} </if>
	order by orderdate desc 
  </select>
</mapper>